A:link {
	FONT-SIZE: 100%; COLOR: #0869CE; font-family:arial
}
A:visited {
	FONT-SIZE: 100%; COLOR: #0869CE; font-family:arial
}
A:hover {
	FONT-SIZE: 100%; COLOR: #0869CE; TEXT-DECORATION: underline; font-family:arial
}
a:link.none {
	FONT-SIZE: 100%; COLOR: #000000; TEXT-DECORATION: none; font-family:arial
}
a:visited.none {
	FONT-SIZE: 100%; COLOR: #666666; TEXT-DECORATION: none; font-family:arial
}
a:hover.none {
	FONT-SIZE: 100%; COLOR: #333399; TEXT-DECORATION: underline; font-family:arial
}
BODY {
	FONT-SIZE: 100%; COLOR: #000000; FONT-FAMILY: "arial", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #ffffff
}
.smallfont {
	FONT-SIZE: 7pt; font-family:arial
}
.input {
	BORDER-RIGHT: #003366 1px solid; BORDER-TOP: #003366 1px solid; FONT-SIZE: 100%; BORDER-LEFT: #003366 1px solid; COLOR: #000000; BORDER-BOTTOM: #003366 1px solid; FONT-FAMILY: "arial", "arial"; BACKGROUND-COLOR: #f4f5da
}
A:active {
	FONT-SIZE: 100%; COLOR: #3366ff; font-family:arial
}
.px14 {
	FONT-SIZE: 14px; font-family:arial
}
SELECT {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; LIST-STYLE-POSITION: inside; FONT-SIZE: 100%; BORDER-LEFT: #000000 1px solid; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; LIST-STYLE-TYPE: decimal; BACKGROUND-COLOR: #666699
}
TABLE {
	FONT-SIZE: 100%; LINE-HEIGHT: 14pt; FONT-STYLE: normal; font-family:arial
}
.inputCopy {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 100%; BORDER-LEFT: #999999 1px solid; COLOR: #000000; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: "arial", "arial"; BACKGROUND-COLOR: #ffcc00
}
.tbTitle {
	BORDER-RIGHT: #999999 1px dotted; BORDER-TOP: #999999 1px dotted; FONT-WEIGHT: normal; FONT-SIZE: 14px; BACKGROUND-IMAGE: none; BORDER-LEFT: #999999 1px dotted; COLOR: #003366; BORDER-BOTTOM: #999999 1px dotted; FONT-FAMILY: "arial", "arial", "arial"; BACKGROUND-COLOR: #ffcc66
}


#pageNav {
	FLOAT: left; WIDTH: 170px; font-family:arial
}
#pageNav A {
	TEXT-DECORATION: none; font-family:arial
}
#pageNav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; font-family:arial
}
#pageNav UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #f4f4f4; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px solid; font-family:arial
}
/*
#pageNav UL LI {
	CLEAR: both; FLOAT: left; WIDTH: 100%; font-family:arial
}
*/
#pageNav UL LI H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 100%; BACKGROUND: white; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #0869CE; PADDING-TOP: 20px; font-family:arial
}
#pageNav UL LI A{
	PADDING-RIGHT: 3px; DISPLAY: block; PADDING-LEFT: 15px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; font-family:arial
}
#pageNav UL LI A:link {
	COLOR: #666; font-family:arial
}
#pageNav UL LI A:visited {
	COLOR: #666; font-family:arial
}
#pageNav UL LI A:hover {
	BACKGROUND: white; COLOR: #0869CE; font-family:arial
}
#pageNav UL LI A:active {
	COLOR: #666; font-family:arial
}

#pageNav UL LI IMG {
	MARGIN-TOP: 6px; FLOAT: left; MARGIN-LEFT: 3px; WIDTH: 9px; HEIGHT: 7px
}
#pageNav UL LI.separator {
	BACKGROUND: white; HEIGHT: 1.7em
}
#pageNav UL LI.selection {
	BACKGROUND: white; font-family:arial
}
#pageNav UL LI.selected A {
	COLOR: #fa833a; font-family:arial
}

/*
#pageNav UL UL {
	MARGIN: 0px; font-family:arial
}
#pageNav UL UL LI {
	BACKGROUND: white; BORDER-BOTTOM-STYLE: none; font-family:arial
}
#pageNav UL UL LI A {
	PADDING-LEFT: 30px; FONT-SIZE: 90%; font-family:arial
}
#pageNav UL UL LI A:link {
	COLOR: #999; font-family:arial
}
#pageNav UL UL LI A:visited {
	COLOR: #999; font-family:arial
}
#pageNav UL UL LI A:hover {
	BACKGROUND: white; COLOR: #fa833a; font-family:arial
}
#pageNav UL UL LI A:active {
	COLOR: #999; font-family:arial
}
#pageNav UL UL LI.selected A {
	COLOR: #fa833a; font-family:arial
}
#pageNav UL UL LI IMG {
	MARGIN-LEFT: 18px; font-family:arial
}
*/




#pageHeader-Nav {
	CLEAR: both; FONT: 100% arial, Arial, Helvetica, sans-serif;
}
#pageHeader-Nav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#pageHeader-Nav UL LI {
	Z-INDEX: 1000; BACKGROUND: #A5A2A5; FLOAT: left; WIDTH: 127px; MARGIN-RIGHT: 1px; POSITION: relative
}
#pageHeader-Nav UL LI A {
	PADDING-RIGHT: 3px; DISPLAY: block; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#pageHeader-Nav UL LI A:link {
	COLOR: white
}
#pageHeader-Nav UL LI A:visited {
	COLOR: #FFFFFF
}
#pageHeader-Nav UL LI A:hover {
	BACKGROUND: #0066CC; 
}
#pageHeader-Nav UL LI A:active {
	COLOR: white
}
#pageHeader-Nav UL LI:hover UL {
	DISPLAY: block
}
#pageHeader-Nav UL LI.last {
	WIDTH: 128px; MARGIN-RIGHT: 0px
}
#pageHeader-Nav UL LI.selected {
	BACKGROUND: #0066CC; 
}