<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">

    {% if language ~= 'zh-cn' then %}
	<meta name="google-translate-customization" content="616bffa317a4cc9c-5cc282dcd72e6bfc-g4e1dcadec65c256d-11"/>
	<script type="text/javascript">
	function googleTranslateElementInit() {
	  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
	}
	</script>
	<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    {% end %}

    <script type="text/javascript" src="/static/js/vue.min.js"></script>

	<title>{* blocks.title *}</title>
	{* blocks.script *}
</head>

<body>
    <nav class="navbar navbar-static-top navbar-inverse navbar-crintsoft" role="navigation">
        <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Crintsoft</a>
        </div>
    
        <div class="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/minilyrics/">MiniLyrics</a></li>
                <li class="active"><a href="/music-player/">_TLM(MusicPlayer)</a></li>
                <!-- <li><a href="http://www.viewlyrics.com/TopLyrics/">Top Lyrics</a></li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                <!-- <a href="/contactus">_TLM(Contact Us)</a> -->
                </li>
            </ul>
        </div>
        </div>
    </nav>

	{* blocks.navigation *}

	<br>

    <div class="container" id="content">
        {* blocks.content *}
    </div>

    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    {% if language == 'zh-cn' then %}
                        {% for name, value in pairs(languages) do %}
                            <a class="btn btn-sm btn-light mx-1" href="//{{ name }}.crintsoft.com">{{ value }}</a>
                        {% end %}
                    {% else %}
                        <div id="google_translate_element"></div>
                    {% end %}
                </div>

                <!-- <div id="copyright" class="col-sm-6">
                    <p>©2025 Crintsoft LLC - <a href="/contactus">Contact us</a></p>
                </div> -->
            </div>
        </div>
    </div>
    
</body>
</html>
