.vscode
.DS_Store
*.user
*.ncb
*.suo
*.pyc
*.xcuserdatad
*.tmp
*.zip
Release
Output
x64
*.ilk
*.pdb
/temp/
build
*.db
*.settings
*.obj
*.lib
BuildLog.htm
*.pch
*.idb
*.log
project.xcworkspace
*.xcscheme
obj
nginx.build
*.a
product/digest-status.txt
product/lua/SessionKey.lua
product/logs
product/lyrics
*.db-journal
test_env
product/tool-status.txt
product/lua/conf.lua
