.vscode
.DS_Store
*.user
*.ncb
*.suo
*.pyc
*.xcuserdatad
*.tmp
*.zip
Release
Output
x64
*.ilk
*.pdb
/temp/
build
*.db
*.settings
*.obj
*.lib
BuildLog.htm
*.pch
*.idb
*.log
project.xcworkspace
*.xcscheme
obj
nginx.build
*.a
third-parties/pcre/config.status
third-parties/pcre/libpcre.pc
third-parties/pcre/libpcre16.pc
third-parties/pcre/libpcre32.pc
third-parties/pcre/libpcrecpp.pc
third-parties/pcre/libpcreposix.pc
third-parties/pcre/libtool
third-parties/pcre/Makefile
third-parties/pcre/stamp-h1
third-parties/openresty/Makefile
